.header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #111;

    &_group {
        width: 100%;
        display: flex;

        & h3:last-child {
            margin-inline-start: 1pc;
        }
    }
}